---
title: Community
---

<main>
  <div class="container mx-auto px-4">
    <section class="flex flex-wrap grow justify-between mt-12 mb-6 text-gray-500 text-base lowercase border-b border-gray-200">
      <% {
           "Stargazers"   => stargazers_count,
           "Contributors" => contributors_count,
           "Releases"     => releases_count,
           "Downloads"    => total_downloads,
         }.each do |label, value| %>
      <dl class="flex flex-col w-full md:w-auto pb-6">
        <dt class="text-left md:text-center font-normal mt-0 order-2">
          <%= label %>
        </dt>
        <dd class="text-left md:text-center text-6xl text-gray-600 order-1" data-count="<%= value %>">
          0
        </dd>
      </dl>
      <% end %>
    </section>

    <section>
      <h1 class="font-bold text-5xl pt-4 mb-5 tracking-tight">Discuss</h1>
      <p class="text-xl mb-8">
        <%= link_to "GitHub Discussions", github_discussions_url %> is the best place to post your questions and answers with the community.
        We're also on <%= link_to "Discord", discord_url %> for a quick chat and occasional streaming.
      </p>
      <p class="text-xl mb-8">
        Use <b>#RailsEventStore</b> on <%= link_to "Twitter", twitter_hashtag_url %> and tag <b>rails-event-store</b> on <%= link_to "StackOverflow", stackoverflow_url %> .
      </p>
    </section>

    <section>
      <h1 class="font-bold text-5xl pt-4 mb-5 tracking-tight">Contribute</h1>
      <p class="text-xl mb-8">
        Any kind of contribution is welcomed. See our guide <%= link_to "how to start", "/contributing" %> participating as a contributor.
      </p>

      <ul class="mb-12 flex flex-wrap">
        <% contributors.each do |contributor| %>
          <li class="mr-2 mb-2">
            <% link_to("#") do %>
              <img class="h-12 w-12 rounded" src="<%= contributor.avatar_url %>" />
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>

    <section>
      <h1 class="font-bold text-5xl pt-4 mb-5 tracking-tight">Explore</h1>
      <p class="text-xl mb-8">Learn how Rails Event Store helps deliver better software.</p>

      <h2 class="font-bold text-4xl pt-4 mb-5 tracking-tight">Videos</h2>
      <ul class="list-reset mb-12">
        <% data.videos.each do |video| %>
          <li class="text-xl"><%= link_to video.title, video.url %></li>
        <% end %>
      </ul>

      <h2 class="font-bold text-4xl pt-4 mb-5 tracking-tight">Articles</h2>
      <ul class="list-reset grid grid-cols-1 xl:grid-cols-2 gap-x-4 mb-12">
        <% data.articles.each do |article| %>
          <li class="text-xl truncate"><%= link_to article.title, article.url %></li>
        <% end %>
      </ul>

      <h2 class="font-bold text-4xl pt-4 mb-5 tracking-tight">Code</h2>
      <ul class="mb-24">
        <% data.apps.each do |app| %>
          <li class="text-xl"><%= link_to app.title, app.url %></li>
        <% end %>
      </ul>
    </section>
  </div>
</main>

<%= partial "partials/site_footer" %>
<%= partial "partials/countup" %>
