---
title: Community
---
<section class="stats pb-6">
  <dl class="stats__stat">
    <dt class="stat__title text-base">
      Stargazers
    </dt>
    <dd class="stat__value text-3xl">
      528
    </dd>
  </dl>

  <dl class="stats__stat">
    <dt class="stat__title text-base">
      Contributors
    </dt>
    <dd class="stat__value text-3xl">
      39
    </dd>
  </dl>

  <dl class="stats__stat">
    <dt class="stat__title text-base">
      Releases
    </dt>
    <dd class="stat__value text-3xl">
      55
    </dd>
  </dl>

  <dl class="stats__stat">
    <dt class="stat__title text-base">
      Commits
    </dt>
    <dd class="stat__value text-3xl">
      2302
    </dd>
  </dl>

  <dl class="stats__stat">
    <dt class="stat__title text-base">
      Downloads
    </dt>
    <dd class="stat__value text-3xl">
      150894
    </dd>
  </dl>
</section>

<section class="discuss">
  <h2 class="discuss__title mt-12 mb-6 text-black">Discuss</h2>
  <p class="discuss__about">
    <a href="https://github.com/RailsEventStore/rails_event_store/issues">GitHub Issues</a> is the best place to share your questions and answers with the community. Official Twitter hashtag is <a href="https://twitter.com/hashtag/railseventstore">#RailsEventStore</a>.
  </p>
</section>

<section class="contribute">
  <h2 class="contribute__title mt-12 mb-6 text-black">Contribute</h2>
  <p class="contribute__about mb-6">
    Any kind of contribution is welcomed. See our guide <a href="/contributing">how to start</a> participating as a contributor.
  </p>

  <ul class="contribute__contributors">
    <% data.contributors.each do |contributor| %>
      <li class="contributor">
        <a class="contributor__link" href="<%= contributor.html_url %>">
          <img class="contributor__avatar" src="<%= contributor.avatar_url %>" />
        </a>
      </li>
    <% end %>
  </ul>
</section>

<section class="attend">
  <h2 class="attend__title mt-12 mb-6 text-black">Attend</h2>
  <p class="attend__about mb-6">
    Participate in on-site trainings where Rails Event Store is used. Visit the conferences where RES is on the spotlight. Meet in-person people involved with its development.
  </p>

  <ul class="attend__events list-reset">
    <% data.events.each do |event| %>
      <li>
        <a href="<%= event.url %>">
          <%= event.title %>
        </a>
      </li>
      <% end %>
  </ul>
</section>

<section class="explore">
  <h2 class="explore__title mt-12 mb-6 text-black">Explore</h2>
  <p class="explore__about mb-6">Learn how Rails Event Store helps deliver better software.</p>

  <div class="flex flex-wrap">
    <div class="w-full xl:w-1/3">
      <h3 class="mt-8 mb-4 text-black">Articles</h3>
      <ul class="list-reset">
        <% data.articles.each do |article| %>
          <li>
            <a href="<%= article.url %>">
              <%= article.title %>
            </a>
          </li>
          <% end %>
      </ul>
    </div>

    <div class="w-full xl:w-1/3">
      <h3 class="mt-8 mb-4 text-black">Videos</h3>
      <ul class="list-reset">
        <% data.videos.each do |video| %>
          <li>
            <a href="<%= video.url %>">
              <%= video.title %>
            </a>
          </li>
          <% end %>
      </ul>
    </div>

    <div class="w-full xl:w-1/3">
      <h3 class="mt-8 mb-4 text-black">Code</h3>
      <ul class="list-reset">
        <% data.apps.each do |app| %>
          <li>
            <a href="<%= app.url %>">
              <%= app.title %>
            </a>
          </li>
          <% end %>
      </ul>
    </div>
  </div>
</section>
