<h4 class="mb-1 uppercase tracking-tight font-semibold text-gray-600">
  Getting started
</h4>
<ul class="whitespace-nowrap mb-8 leading-snug">
  <li><%= sidebar_link_to "Introduction", "/docs/v2/start/" %></li>
  <li><%= sidebar_link_to "Installation", "/docs/v2/install/" %></li>
  <li><%= sidebar_link_to "API Documentation", "/docs/v2/api/" %></li>
</ul>
<h4 class="mb-1 uppercase tracking-tight font-semibold text-gray-600">
  Core concepts
</h4>
<ul class="whitespace-nowrap mb-8 leading-snug">
  <li><%= sidebar_link_to "Publishing events", "/docs/v2/publish/" %></li>
  <li><%= sidebar_link_to "Subscribing to events", "/docs/v2/subscribe/" %></li>
  <li><%= sidebar_link_to "Reading events", "/docs/v2/read/" %></li>
  <li><%= sidebar_link_to "Linking to stream", "/docs/v2/link/" %></li>
  <li><%= sidebar_link_to "Deleting stream", "/docs/v2/delete/" %></li>
  <li><%= sidebar_link_to "Publish-Subscribe", "/docs/v2/pubsub/" %></li>
  <li><%= sidebar_link_to "Event Sourcing", "/docs/v2/app/" %></li>
  <li><%= sidebar_link_to "Expected Version explained", "/docs/v2/expected_version/" %></li>
  <li><%= sidebar_link_to "Projections", "/docs/v2/projection/" %></li>
  <li><%= sidebar_link_to "Request metadata", "/docs/v2/request_metadata/" %></li>
  <li><%= sidebar_link_to "Correlation and Causation", "/docs/v2/correlation_causation/" %></li>
  <li><%= sidebar_link_to "RSpec matchers", "/docs/v2/rspec/" %></li>
  <li><%= sidebar_link_to "Browser", "/docs/v2/browser/" %></li>
  <li><%= sidebar_link_to "Client Errors", "/docs/v2/exceptions/" %></li>
</ul>
<h4 class="mb-1 uppercase tracking-tight font-semibold text-gray-600">
  Advanced topics
</h4>
<ul class="whitespace-nowrap mb-8 leading-snug">
  <li><%= sidebar_link_to "Transactions", "/docs/v2/transactions/" %></li>
  <li><%= sidebar_link_to "Bi-Temporal Event Sourcing", "/docs/v2/bi-temporal/" %></li>
  <li><%= sidebar_link_to "Event serialization formats", "/docs/v2/mapping_serialization/" %></li>
  <li><%= sidebar_link_to "Mappers", "/docs/v2/mappers/" %></li>
  <li><%= sidebar_link_to "Custom repository", "/docs/v2/repository/" %></li>
  <li><%= sidebar_link_to "Instrumentation", "/docs/v2/instrumentation/" %></li>
  <li><%= sidebar_link_to "Command Bus", "/docs/v2/command_bus/" %></li>
  <li><%= sidebar_link_to "Mapping handlers to events", "/docs/v2/handler-to-events/" %></li>
  <li><%= sidebar_link_to "GDPR", "/docs/v2/gdpr/" %></li>
  <li><%= sidebar_link_to "Migrating existing events", "/docs/v2/migrating_messages/" %></li>
  <li><%= sidebar_link_to "Ruby Event Store — without Rails", "/docs/v2/without_rails/" %></li>
  <li><%= sidebar_link_to "Protobuf", "/docs/v2/protobuf/" %></li>
</ul>
<h4 class="mb-1 uppercase tracking-tight font-semibold text-gray-600">
  Common usage patterns
</h4>
<ul class="whitespace-nowrap mb-8 leading-snug">
  <li><%= sidebar_link_to "Publishing unique events", "/docs/v2/publishing_unique_events/" %></li>
</ul>
<h4 class="mb-1 uppercase tracking-tight font-semibold text-gray-600">
  Contributing
</h4>
<ul class="whitespace-nowrap mb-8 leading-snug">
  <li><%= sidebar_link_to "Maintenance Policy", "/docs/v2/maintenance_policy/" %></li>
</ul>