<div class="mb-8">
  <h3 class="uppercase text-grey tracking-wide mb-2 text-sm">
    Getting started
  </h3>

  <ul class="list-reset"> 
    <li><%= current_link_to "Installation", "/docs/install/", class: 'doc-link' %></li>
    <li><%= current_link_to "Publishing events", "/docs/publish/", class: 'doc-link' %></li>
    <li><%= current_link_to "Event handlers - Subscribing to events", "/docs/subscribe/", class: 'doc-link' %></li>
    <li><%= current_link_to "Reading from stream", "/docs/read/", class: 'doc-link' %></li>
    <li><%= current_link_to "Deleting stream", "/docs/delete/", class: 'doc-link' %></li>
    <li><%= current_link_to "Linking to stream", "/docs/link/", class: 'doc-link' %></li>
  </ul>
</div>

<div class="mb-8">
  <h3 class="uppercase text-grey tracking-wide mb-2 text-sm">
    Advanced
  </h3>

  <ul class="list-reset">
    <li><%= current_link_to "API Documenation", "/docs/api/", class: 'doc-link' %></li>
    <li><%= current_link_to "Client Errors", "/docs/exceptions/", class: 'doc-link' %></li>
    <li><%= current_link_to "Command Bus", "/docs/command_bus/", class: 'doc-link' %></li>
    <li><%= current_link_to "Correlation and Causation", "/docs/correlation_causation/", class: 'doc-link' %></li>
    <li><%= current_link_to "Event sourcing with AggregateRoot", "/docs/app/", class: 'doc-link' %></li>
    <li><%= current_link_to "Expected Version explained", "/docs/expected_version/", class: 'doc-link' %></li>
    <li><%= current_link_to "Projections", "/docs/projection/", class: 'doc-link' %></li>
    <li><%= current_link_to "RSpec matchers", "/docs/rspec/", class: 'doc-link' %></li>
    <li><%= current_link_to "Request metadata", "/docs/request_metadata/", class: 'doc-link' %></li>
    <li><%= current_link_to "Event serialization formats", "/docs/mapping_serialization/", class: 'doc-link' %></li>
    <li><%= current_link_to "Custom repository", "/docs/repository/", class: 'doc-link' %></li>
    <li><%= current_link_to "Migrating existing events", "/docs/migrating_messages/", class: 'doc-link' %></li>
    <li><%= current_link_to "Browser", "/docs/browser/", class: 'doc-link' %></li>
    <li><%= current_link_to "Ruby Event Store without Rails", "/docs/without_rails/", class: 'doc-link' %></li>
    <li><%= current_link_to "Instrumentation", "/docs/instrumentation/", class: 'doc-link' %></li>
  </ul>
</div>

<div class="mb-8">
  <h3 class="uppercase text-grey tracking-wide mb-2 text-sm">
    Tutorials
  </h3>

  <ul class="list-reset">
    <li><%= current_link_to "Publish-Subscribe", "/docs/pubsub/", class: 'doc-link' %></li>
    <li><%= current_link_to "Using RES with Protobuf", "/docs/protobuf/", class: 'doc-link' %></li>
  </ul>
</div>
