<div>
  <h3 class="docs-section-heading">
    Basics
  </h3>

  <ul class="doc-list">
    <li class="doc-item"><%= current_link_to "Installation", "/docs/install/" %></li>
    <li class="doc-item"><%= current_link_to "Publishing events", "/docs/publish/" %></li>
    <li class="doc-item"><%= current_link_to "Event handlers - Subscribing to events", "/docs/subscribe/" %></li>
    <li class="doc-item"><%= current_link_to "Reading from stream", "/docs/read/" %></li>
    <li class="doc-item"><%= current_link_to "Deleting stream", "/docs/delete/" %></li>
    <li class="doc-item"><%= current_link_to "Linking to stream", "/docs/link/" %></li>
  </ul>
</div>

<div class="toc-block">
  <h3 class="docs-section-heading">
    Advanced
  </h3>

  <ul class="doc-list">
    <li class="doc-item"><%= current_link_to "Event sourcing with AggregateRoot", "/docs/app/" %></li>
    <li class="doc-item"><%= current_link_to "Expected Version explained", "/docs/expected_version/" %></li>
    <li class="doc-item"><%= current_link_to "Projections", "/docs/projection/" %></li>
    <li class="doc-item"><%= current_link_to "RSpec matchers", "/docs/rspec/" %></li>
    <li class="doc-item"><%= current_link_to "Request metadata", "/docs/request_metadata/" %></li>
    <li class="doc-item"><%= current_link_to "Event serialization formats", "/docs/mapping_serialization/" %></li>
    <li class="doc-item"><%= current_link_to "Custom repository", "/docs/repository/" %></li>
    <li class="doc-item"><%= current_link_to "Browser", "/docs/browser/" %></li>
  </ul>
</div>

<div class="toc-block">
  <h3 class="docs-section-heading">
    Tutorials
  </h3>

  <ul class="doc-list">
    <li class="doc-item"><%= current_link_to "Publish-Subscribe", "/docs/pubsub/" %></li>
    <li class="doc-item"><%= current_link_to "Using RES with Protobuf", "/docs/protobuf/" %></li>
  </ul>
</div>
