<h4 class="uppercase tracking-tight font-semibold mt-6 text-gray-500">
  Getting started
</h4>

<ul class="whitespace-no-wrap -mt-3 mb-6">
  <li class="text-sm"><%= sidebar_link_to "Let's start", "/docs/v1/start/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Installation", "/docs/v1/install/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Publishing events", "/docs/v1/publish/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Subscribing to events", "/docs/v1/subscribe/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Reading events", "/docs/v1/read/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Linking to stream", "/docs/v1/link/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Deleting stream", "/docs/v1/delete/" %></li>
</ul>

<h4 class="uppercase tracking-tight font-semibold text-gray-500">
  Advanced
</h4>

<ul class="whitespace-no-wrap -mt-3 mb-6 leading-tight">
  <li class="text-sm"><%= sidebar_link_to "API Documentation", "/docs/v1/api/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Client Errors", "/docs/v1/exceptions/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Command Bus", "/docs/v1/command_bus/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Correlation and Causation", "/docs/v1/correlation_causation/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Event Sourcing", "/docs/v1/app/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Expected Version explained", "/docs/v1/expected_version/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Projections", "/docs/v1/projection/" %></li>
  <li class="text-sm"><%= sidebar_link_to "RSpec matchers", "/docs/v1/rspec/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Request metadata", "/docs/v1/request_metadata/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Event serialization formats", "/docs/v1/mapping_serialization/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Custom repository", "/docs/v1/repository/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Migrating existing events", "/docs/v1/migrating_messages/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Browser", "/docs/v1/browser/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Ruby Event Store without Rails", "/docs/v1/without_rails/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Instrumentation", "/docs/v1/instrumentation/" %></li>
  <li class="text-sm"><%= sidebar_link_to "GDPR", "/docs/v1/gdpr/" %></li>
</ul>

<h4 class="uppercase tracking-tight font-semibold text-gray-500">
  Tutorials
</h4>

<ul class="whitespace-no-wrap -mt-3 mb-6">
  <li class="text-sm"><%= sidebar_link_to "Publish-Subscribe", "/docs/v1/pubsub/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Using RES with Protobuf", "/docs/v1/protobuf/" %></li>
</ul>
