<h4 class="uppercase tracking-tight font-semibold mt-6 text-gray-500">
  Getting started
</h4>

<ul class="whitespace-nowrap -mt-3 mb-6">
  <li class="text-sm"><%= sidebar_link_to "Let's start", "/docs/v2/start/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Installation", "/docs/v2/install/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Publishing events", "/docs/v2/publish/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Subscribing to events", "/docs/v2/subscribe/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Reading events", "/docs/v2/read/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Linking to stream", "/docs/v2/link/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Deleting stream", "/docs/v2/delete/" %></li>
</ul>

<h4 class="uppercase tracking-tight font-semibold text-gray-500">
  Advanced
</h4>

<ul class="whitespace-nowrap -mt-3 mb-6 leading-tight">
  <li class="text-sm"><%= sidebar_link_to "API Documentation", "/docs/v2/api/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Client Errors", "/docs/v2/exceptions/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Command Bus", "/docs/v2/command_bus/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Correlation and Causation", "/docs/v2/correlation_causation/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Event Sourcing", "/docs/v2/app/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Expected Version explained", "/docs/v2/expected_version/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Projections", "/docs/v2/projection/" %></li>
  <li class="text-sm"><%= sidebar_link_to "RSpec matchers", "/docs/v2/rspec/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Request metadata", "/docs/v2/request_metadata/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Event serialization formats", "/docs/v2/mapping_serialization/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Custom repository", "/docs/v2/repository/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Migrating existing events", "/docs/v2/migrating_messages/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Browser", "/docs/v2/browser/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Ruby Event Store without Rails", "/docs/v2/without_rails/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Instrumentation", "/docs/v2/instrumentation/" %></li>
  <li class="text-sm"><%= sidebar_link_to "GDPR", "/docs/v2/gdpr/" %></li>
</ul>

<h4 class="uppercase tracking-tight font-semibold text-gray-500">
  Tutorials
</h4>

<ul class="whitespace-nowrap -mt-3 mb-6">
  <li class="text-sm"><%= sidebar_link_to "Publish-Subscribe", "/docs/v2/pubsub/" %></li>
  <li class="text-sm"><%= sidebar_link_to "Using RES with Protobuf", "/docs/v2/protobuf/" %></li>
</ul>
