<footer class="bg-gray-200">
  <div class="container mx-auto">
    <footer class="site-footer px-4 pt-4 pb-8 flex justify-center" role="contentinfo">
      <ul class="flex flex-wrap text-left md:text-center">
        <li class="w-full md:w-auto mr-8"><%= link_to "Domain-Driven Rails", "http://blog.arkency.com/domain-driven-rails/", class: "site-footer__link" %></li>
        <li class="w-full md:w-auto mr-8"><%= link_to "GitHub", "https://github.com/RailsEventStore", class: "site-footer__link" %></li>
        <li class="w-full md:w-auto mr-8"><%= link_to "RubyGems", "https://rubygems.org/gems/rails_event_store", class: "site-footer__link" %></li>
        <li class="w-full md:w-auto mr-8"><%= link_to "Supported by Arkency", "http://blog.arkency.com/", class: "site-footer__link" %></li>
        <li class="w-full md:w-auto"><%= link_to "Rails DDD Workshop", "http://blog.arkency.com/ddd-training/", class: "site-footer__link" %></li>
      </ul>
    </footer>
  </div>
</footer>
