<footer class="bg-gray-200">
  <div class="max-w-8xl mx-auto">
    <footer class="text-center px-4 pt-4 pb-8 flex justify-center" role="contentinfo">
      <ul class="flex flex-wrap text-left md:text-center list-none">
        <li class="w-full md:w-auto mr-8"><%= link_to "Domain-Driven Rails", "http://blog.arkency.com/domain-driven-rails/", class: "text-gray-500 bg-none font-normal border-b-none hover:text-red-200 active:text-white focus:text-white" %></li>
        <li class="w-full md:w-auto mr-8"><%= link_to "GitHub", "https://github.com/RailsEventStore", class: "text-gray-500 bg-none font-normal border-b-none hover:text-red-200 active:text-white focus:text-white" %></li>
        <li class="w-full md:w-auto mr-8"><%= link_to "RubyGems", "https://rubygems.org/gems/rails_event_store", class: "text-gray-500 bg-none font-normal border-b-none hover:text-red-200 active:text-white focus:text-white" %></li>
        <li class="w-full md:w-auto mr-8"><%= link_to "Supported by Arkency", "http://blog.arkency.com/", class: "text-gray-500 bg-none font-normal border-b-none hover:text-red-200 active:text-white focus:text-white" %></li>
        <li class="w-full md:w-auto"><%= link_to "Rails DDD Workshop", "http://blog.arkency.com/ddd-training/", class: "text-gray-500 bg-none font-normal border-b-none hover:text-red-200 active:text-white focus:text-white" %></li>
      </ul>
    </footer>
  </div>
</footer>
