<nav class="site-navigation">
  <%= link_to "Rails Event Store", "/", class: "site-navigation__title" %>

  <div class="site-navigation__links">
    <%= link_to "Community", "/community", class: "site-navigation__link" %>
    <%= link_to "Support", "/support", class: "site-navigation__link" %>
    <%= link_to "Documentation", "/docs/v1/install", class: "site-navigation__link" %>
    <%= link_to "v#{config[:res_version]}", "https://github.com/RailsEventStore/rails_event_store/releases/tag/v#{config[:res_version]}", class: "site-navigation__link site-navigation__link--external" %>
  </div>
</nav>
