<!DOCTYPE html>
<html>
  <head>
    <title>RailsEventStore::Browser</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= javascript_include_tag "/rails_event_store_browser.js" %>
    <script type="text/javascript">
      RubyEventStore.Browser.Main.fullscreen({
        rootUrl:    "<%= root_path.chomp('/') %>",
        eventsUrl:  "<%= events_path %>",
        streamsUrl: "<%= streams_path %>",
        resVersion: "<%= RailsEventStore::VERSION %>"
      });
    </script>
  </body>
</html>
