<% wrap_layout :base do %>
  <header class="frame__section">
    <div class="container mx-auto">
      <div class="px-4 py-4 flex flex-wrap items-center justify-center">
        <div class="w-full md:w-1/2">
          <input class="w-full text-sm py-2 px-4 border-gray-400 border-b bg-transparent text-gray-600" id="search" type="text" placeholder="Search" />
        </div>
      </div>
    </div>
  </header>

  <main class="frame__body" role="main">
    <div class="container mx-auto flex flex-wrap mt-6">
      <nav class="frame__sidebar w-full md:w-1/4 px-4">
        <%= partial "partials/documentation_nav" %>
      </nav>

      <div class="frame__main w-full md:w-3/4 px-4 js-docs">
        <h1><%= page_title %></h1>
        <%= yield %>

        <div class="mt-12 mb-12 flex flex-wrap">
          <%= edit_github_link %>
          <%= feedback_link %>
        </div> 
      </div>
    </div>
  </main>
  
  <style>
    .anchorjs-link, .anchorjs-link:hover, .anchorjs-link:active {
      background: none;
      text-decoration: none;
      border: none;
      color: #adb5bd;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      anchors.add('.js-docs h2, .js-docs h3');
    });
  </script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script> 
  <script type="text/javascript">
    docsearch({
      apiKey: '45776784d078c2fa4495099da7063654',
      indexName: 'railseventstore',
      inputSelector: '#search',
      debug: false
    });
  </script>
<% end %>
