<% wrap_layout :base do %>
  <div class="w-full min-h-screen flex flex-col items-stretch">
    <%= partial "partials/doc_search_top" %>

    <main class="container mx-auto flex flex-wrap">
      <aside class="w-full md:w-1/4 px-4">
        <nav class="pt-6 pb-8 md:sticky top-[calc(80px+76px)] overflow-y-auto overflow-x-hidden md:h-[calc(100vh-80px-76px)]">
          <%= partial "partials/documentation_nav_#{version}" %>
        </nav>
      </aside>

      <article class="documentation w-full md:w-3/4 px-4 mt-6">
        <h1><%= page_title %></h1>

        <%= yield %>

        <footer class="mt-12 mb-12 flex flex-wrap">
          <%= edit_github_link %>
          <%= feedback_link %>
        </footer>
      </article>
    </main>
  </div>

  <%= partial "partials/anchorjs" %>
  <%= partial "partials/doc_search" %>
  <%= partial "partials/version_redirect" %>
<% end %>
