<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge,chrome=1" http-equiv="x-ua-compatible">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "https://use.typekit.net/iox0vwx.css" %>
    <%= stylesheet_link_tag "style" %>
    <%= partial "partials/favicon" %>
  </head>
  <body class="font-sans text-gray-800 text-lg antialiased">
    <div class="w-full min-h-screen flex flex-col items-stretch">
      <%= partial "partials/site_navigation" %>
      <%= yield %>
    </div>
    <%= partial "partials/tracking" %>
  </body>
</html>
