<!DOCTYPE html>
<html lang="en" data-theme="light" class="antialiased">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge,chrome=1" http-equiv="x-ua-compatible">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "https://use.typekit.net/iox0vwx.css" %>
    <%= stylesheet_link_tag "style" %>
    <%= partial "partials/favicon" %>
  </head>
  <body class="bg-white">
    <%= partial "partials/site_navigation" %>
    <%= yield %>
    <%= partial "partials/tracking" %>
  </body>
</html>
